@charset 'utf-8';


/* login-sns */

.login .login-sns{
  padding: 11.1111vw 0
}

.find-info{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.8889vw;
  color: #524e4c
}

.find-info .divide{
  display: block;
  width: 0.2778vw;
  height: 2.2222vw;
  background-color: #8c8581;
  margin: 0 2.2222vw;
}

.sns-ico{
  display: flex;
  justify-content: center;
}
.sns-ico li{
  margin-right: 6.1111vw;
}
.sns-ico li:last-child{
  margin-right: 0;
}

.sns-ico i{
  width: 13.3333vw;
  height: 13.3333vw;
}

.ico-login-kakao{
  background: url(../images/ico_sns_login_kakao.png) no-repeat center / 13.3333vw 13.3333vw;
}
.ico-login-facebook{
  background: url(../images/ico_sns_login_facebook.png) no-repeat center / 13.3333vw 13.3333vw;
}
.ico-login-naver{
  background: url(../images/ico_sns_login_naver.png) no-repeat center / 13.3333vw 13.3333vw;
}
.ico-login-apple{
  background: url(../images/ico_sns_login_apple.png) no-repeat center / 13.3333vw 13.3333vw;
}

.join-benefit-area{
  height: 44.4444vw;
  padding: 3.3333vw;
  background-color: #fcf9f7;
}

.join-benefit-area h2,
.join-benefit-area .join-benefit-text{
  line-height: 5vw;
}

.join-benefit-text li{
  list-style-position: inside;
}
.join-benefit-text li::marker{
  content: '∙ ';
}